* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_title {
    text-align: center; 
    font-weight: bold; 
    font-size: xx-large;
    margin:20px;
}
.subheading {
    font-weight: bold;
    font-size: x-large;
    margin:20px;
}

[class*="col-"] {
    float: left; 
    padding: 10px;
    font-size:medium;
}

#banner_img img {
    width: 100%;
    Height: auto;
    overflow: hidden;
}

.fact {
    border-color: aliceblue;
    border-style: solid;
    background-color: rgb(137, 223, 252);
}

.fact p, .fact ul{
    text-align: left;
}
.fact img, .food img {
    width:90%;
    Height: auto;
}

.food {
    border-color: aliceblue;
    border-style: solid;
    background-color: rgb(127, 191, 255);
}

footer ul{
    list-style-type: none;
    padding-right:6px; 
}